[project]
	description = Tuleap is a Free & Open Source Suite to improve management of software developments and collaboration. With a single web-based solution, project managers, developers & quality managers can easily build, deploy software projects.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Patrick Renaud (lmcpare)
[access "refs/for/refs/*"]
	read = group user/Patrick Renaud (lmcpare)
	push = group user/Patrick Renaud (lmcpare)
	label-Code-Review = -2..+2 group user/Patrick Renaud (lmcpare)
	label-Verified = -1..+1 group user/Patrick Renaud (lmcpare)
	rebase = group user/Patrick Renaud (lmcpare)
	removeReviewer = group user/Patrick Renaud (lmcpare)
	submit = group user/Patrick Renaud (lmcpare)
[access "refs/heads/*"]
	read = group user/Patrick Renaud (lmcpare)
	create = group user/Patrick Renaud (lmcpare)
	push = +force group user/Patrick Renaud (lmcpare)
	pushMerge = group user/Patrick Renaud (lmcpare)
[access "refs/tags/*"]
	push = +force group user/Patrick Renaud (lmcpare)
	pushTag = group user/Patrick Renaud (lmcpare)
	pushSignedTag = group user/Patrick Renaud (lmcpare)
